<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySecureConnection"
             connectionString="Server=TEN_MAY_CHU;
                               Database=TEN_CSDL;
                               User Id=USER_SQL;
                               Password=MAT_KHAU_SQL;
                               Encrypt=True;
                               TrustServerCertificate=False;"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>